@font-face {
	font-family: 'OpenSans-Regular';
	src: url(../fonts/OpenSans-Regular.ttf);
}

body {
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
}


a {	color: #666; }
a:hover,
a:focus {
	color: #4EA7FF;
	text-decoration: none;
	outline: none;
}

p { color: #666; }
h3 { margin-bottom: 2.5rem; }

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.tm-container {
	max-width: 1200px;
	margin: 0 auto;
}

.tm-container-wide { max-width: 1230px; }

.tm-navbar-container {
	background-color: rgba(0,0,0,0.33);
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.tm-navbar-container.bg-inverse { background-color: #373a3c; }

.tm-navbar-container-dark {
	background-color: #373a3c;
	box-shadow: none;
}

.navbar-nav .nav-link {	padding: 14px 15px; }

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus {
	color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: #4EA7FF;
}

.navbar-toggler {
	border: 1px solid white;
	border-radius: 0;
	color: white;
}

button:focus { outline: none; }

@media (max-width: 1800px) {
	.tm-intro {	background-size: 1800px 750px; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.tm-intro {	background-attachment: scroll; }
}

.tm-logo { margin-bottom: 30px; }
.tm-site-name { margin-bottom: 40px; }
.tm-intro-text { margin-bottom: 45px; }

#tm-section-1,
.tm-section-1-inner,
.tm-site-name,
.tm-intro-text {
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
}

.tm-section-1-inner { padding-top: 12%; }

#tm-section-1 { padding-bottom: 0; }

.tm-intro-link {
	border: 2px solid white;
	border-radius: 50px;
	color: white;
	display: inline-block;
	padding: 15px 60px;
}

.tm-intro-link:hover,
.tm-intro-link:focus {
	color: black;
	background-color: white;
}

.navbar-nav .nav-link,
.tm-intro-text,
.tm-intro-link {
	color: white;
	font-size: 15px;
}

.gray-bg { background-color: #F4F4F4; }
.dark-gray-text { color: #666666; }
.blue-text { color: #006699; }
.light-blue-text { color: #4EA7FF; }

.btn {
	border-radius: 50px;
	font-size: 1em;
	padding: 10px 5px;
	margin: 0.25em;
}

.btn-lg {
	font-size: 1.75rem;
	font-weight: 300;
	padding: 10px 60px;
}

.tm-gray-btn {
	background-color: #666666;
	border: 2px solid #666666;
	color: white;
}

.tm-gray-btn:hover,
.tm-gray-btn:focus {
	background: transparent;
	color: #666666;
}

.tm-gray-bordered-btn {
	background: transparent;
	border: 2px solid #666666;
	color: #666666;
}

.tm-gray-bordered-btn:hover,
.tm-gray-bordered-btn:focus {
	background: #666666;
	color: white;
}

.tm-light-blue-bordered-btn {
	background: transparent;
	border: 2px solid #4EA7FF;
	color: #4EA7FF;
}

.tm-light-blue-bordered-btn:hover,
.tm-light-blue-bordered-btn:focus {
	background: #4EA7FF;
	color: white;
}

.tm-blue-btn {
	background: #006699;
	border: 2px solid #006699;
	color: white;
}

.tm-blue-btn:hover {
	background: transparent;
	color: #006699;
}

.tm-blue-bordered-btn {
	background: transparent;
	border: 2px solid #006699;
	color: #006699;
}

.tm-blue-bordered-btn:hover,
.tm-blue-bordered-btn:focus {
	background: #006699;
	color: white;
}

.tm-green-btn {
	background: #006666;
	border: 2px solid #006666;
	color: white;
}

.tm-green-btn:hover,
.tm-green-btn:focus {
	background: transparent;
	color: #006666;
}

.tm-green-bordered-btn {
	background: transparent;
	border: 2px solid #006666;
	color: #006666;
}

.tm-green-bordered-btn:hover,
.tm-green-bordered-btn:focus {
	background: #006666;
	color: white;
}

.tm-section {
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: auto;
}

.tm-footer {
	padding-bottom: 20px;
	overflow: auto;
}

.tm-news-item {
	margin: 0 auto 5% auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}

.tm-news-item:last-child { margin-bottom: 0; }

.tm-news-item-img {	margin: 0 auto; }

.tm-news-item-img-container { padding: 0; }

.tm-news-container {
	background-color: white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 3%;
	padding-right: 3%;
}

.tm-news-title {
	font-weight: 300;
	margin-bottom: 30px;
}

.tm-news-text {	line-height: 1.8; }

.tm-news-link {
	margin-right: 0;
	margin-left: auto;
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.flex-order-1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.flex-order-2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.tm-title {
	font-size: 43px;
	margin-bottom: 40px;
}

.margin-b-5 { margin-bottom: 5px; }

.tm-img-grid {
	margin-top: 60px;
	overflow: auto;
}

.tm-gallery-img {
	width: 100%;
	height: auto;
}
.tm-gallery-img-container {
	max-width: 300px;
	width: 25%;
	float: left;
}
.form-control {
	border-color: rgba(224, 235, 235, 0.45);
	border-radius: 0;
	padding: .375rem .75rem;
	font-size: 16px;
	background-color: rgba(239, 245, 245, 0.55);
}
.form-group { margin-bottom: 1.8rem; }

.tm-form-group-left { padding-left: 0; }
.tm-form-group-right { padding-right: 0; }

.tm-subtitle {
	font-size: 25px;
	margin-bottom: 30px;
}

#tmNavbar { text-align: center; }

body.page-2 { padding-top: 80px; }

.page-2 .container-fluid { max-width: 1140px; }

.tm-banner-img {
	display: block;
	margin: 0 auto;
}

.tm-description {
	line-height: 1.8;
	margin: 0.5em 1.5em 1em;
}

.tm-page-2-title {
	font-size: 42px;
	margin-bottom: 30px;
}

.tm-page-2-subtitle { margin-bottom: 60px; }

.tm-page-2-p {
	font-size: 22px;
	line-height: 1.6;
}

.tm-flex-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.tm-img-2-col {
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}

.tm-3-col-box {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.tm-description-box { padding: 6%; }
.tm-description-text { margin-bottom: 1.5em; }
.tm-footer-text { margin-bottom: 1.5rem; }

@media (min-width: 768px) {

	/*http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.tm-contact-form { width: 100%; }
}

@media (max-width: 1199px) {
	h2 { font-size: 1.8rem; }
	.tm-news-title { margin-bottom: 15px; }
	.tm-news-text { line-height: 1.6; }
}

@media (max-width: 1100px) and (min-width: 992px) {
	h2 { font-size: 1.6rem; }
	.tm-news-title { margin-bottom: 12px; }
	.tm-news-text {
		font-size: 0.9em;
		margin-bottom: 0.5em;
	}
	.btn {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
}

@media (max-width: 991px) {
	.navbar-nav .nav-link {	font-size: 20px; }
	.navbar-nav .nav-item+.nav-item { margin-left: 0; }

	.tm-news-item {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.tm-news-container {
		padding: 1.5em;
		margin: 0 auto;
		max-width: 600px;
	}

	.flex-order-2 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
	.flex-order-1 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
}

@media (max-width: 940px) {
	.tm-img-grid {
		margin-left: auto;
		margin-right: auto;
		max-width: 900px;
	}

	.tm-gallery-img-container { width: 33.333%; }
}

@media (max-width: 767px) {
	.home .tm-section {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	body.page-2 { padding-top: 54px; }

	.tm-page-2-subtitle { margin-bottom: 30px; }

	.navbar-nav .nav-item+.nav-item { margin-left: 0; }

	.navbar-nav .nav-item { float: none; }

	.navbar-toggler {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}

	.tm-navbar-container {
		background: none;
		box-shadow: none;
		height: 54px;
	}
	.navbar { background-color: rgba(0,0,0,0.2); }
	.tm-navbar-container.bg-inverse .navbar { background-color: #373a3c; }
	.bg-inverse { background-color: #373a3c; }

	.tm-form-group-left { padding-right: 0; }
	.tm-form-group-right { padding-left: 0; }

	.margin-top-xs-50 { margin-top: 50px; }
	.margin-bottom-sm-8 { margin-bottom: 8%; }
	.margin-bottom-sm-3 { margin-bottom: 3%; }
}

@media (max-width: 640px) {
	.tm-gallery-img-container { width: 50%; }
	.tm-img-grid { max-width: 600px; }
	.page-2 .tm-section {
		padding-top: 7%;
		padding-bottom: 7%;
	}
}

@media (max-width: 600px) and (max-height: 600px) {
	.tm-intro {
		height: 100vh;
		min-height: 600px;
	}
}
.home-link{
	padding: 0;
	color: white;
	font-size: 28px;
	display: block;
	float: left;
}
.header-nav{
	float: right!important;
	padding: 0;
}
.login-link-text{
	font-size: 15px;
	margin-top: 89px;
	text-align: center;
}
.register-link-text{
	font-size: 15px;
	margin-top: 30px;
	text-align: center;
}
.register-text .register-link{
	font-size: 18px;
	font-weight: 600;
	color: #403d3d;
}
.error-text{
	padding: 10px;
	color: #520707;
	font-weight: 600;
}
.desc-short-text{
	font-size: 15px;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blue-text{
	font-size: 24px;
	padding-bottom: 6px;
}
.nav-link{
	font-size: 16px;
}
.login-button{
	padding: 6px 18px;
	position: absolute;
	left: 142px;
}
/*Styles for stars*/
.star-cb-group {
	/* remove inline-block whitespace */
	font-size: 0;
	/* flip the order so we can use the + and ~ combinators */
	unicode-bidi: bidi-override;
	direction: rtl;
	/* the hidden clearer */
}
.star-cb-group * {
	font-size: 25px;
}
.star-cb-group > input {
	display: none;
}
.star-cb-group > input + label {
	/* only enough room for the star */
	display: inline-block;
	overflow: hidden;
	text-indent: 9999px;
	width: 1em;
	white-space: nowrap;
	cursor: pointer;
}
.star-cb-group > input + label:before {
	display: inline-block;
	text-indent: -9999px;
	content: "☆";
	color: #333;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
	content: "★";
	color: #ffd564;
	text-shadow: 0 0 1px #ffd564;
}
.star-cb-group > .star-cb-clear + label {
	text-indent: -9999px;
	width: .5em;
	margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
	width: .5em;
}
.star-cb-group:hover > input + label:before {
	content: "☆";
	color: #333;
	text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
	content: "★";
	color: #ffd564;
	text-shadow: 0 0 1px #ffd564;
}
.tm-navbar-container-dark{
	padding: 0;
}
.comment-box{
	position: relative;
	padding: 20px;
	background-color: rgba(255, 235, 59, 0.22);
	margin-bottom: 20px;
	border-radius: 9px;
	border: 1px solid #f2e6d9
}
.book-item{
	padding: 15px;
	position: relative;
	border-radius: 6px;
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: auto;
	height: 225px;
}
.book-item-title-author{
	font-size: 22px;
	padding-bottom: 5px;
}
.book-item-btn-more{
	position: absolute;
	bottom: 7px;
	right: 10px;
}
.book-item-info{
	padding-top: 30px;
}
.dark-text{
	color: rgb(47, 45, 45);
}
.profile-item{
	margin-bottom: 10px;
	margin-top: 10px;
}
.profile-desc{
	padding:    20px;
}
.field-title{
	font-weight: 600;
}
.status{
	color: #373a3c;
	font-weight: 600;
	border-radius: 10px;
	padding: 5px 10px;
}
.active{
	background-color: rgba(0, 128, 0, 0.51);
	margin-left: 5px;
	margin-right: 5px;
}
.banned{
	background-color: rgba(214, 49, 58, 0.69);
	margin-left: 5px;
	margin-right: 5px;
}
.rating{
	background-color: rgba(255, 255, 0, 0.53);
	border-radius: 50px;
	padding: 5px 10px;
	color: #373a3c;
	font-weight: 600;
}
.comment-user-link{
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;

}
.user-comment-date{
	margin-left: 10px;
	font-weight: 400;
	color: #2b2d2f;
}
.comments-section{
	margin-bottom: 80px;
	margin-top: 20px;
}
.book-rating{
	position: absolute;
	top: -9px;
	right: 57px;
}
.admin-book-btn{
	width: 70%;
}
.number{
	background-color: beige;
}
.user-image{
	width: 210px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	margin-bottom: 10px;
}
body{
	/*background-image: url("../img/bg1.jpg");*/
	background-size:cover;
}
.comment-area{
	border: 1px solid rgb(102, 102, 102);
	resize: none;
}
.user-name{
	font-size: 30px;
	font-weight: 400;
}
.text-center{
	text-align: center;
}
.user-title{
	margin-bottom: 10px;
}
.user-profile{
	background-color: #f0f5f5;
}
.user-links-div{
	background-color: #5c8a8a;
	padding: 30px 20px;
	margin-bottom: 0;
}
.user-link {
	color: white;
	font-weight: 400;
}
.user-column{
	background-color: #c2d6d6;
	margin-bottom: 100px;
}
.comments-title{
	font-size: 26px;
	margin-bottom: 5px;
}
.author-link{
	font-size: 30px;
}
.delete-comment-image{
	height: 20px;
	float: right;
}
.lang{
	padding-top: 10px;
	display:inline-block;
}
.lang-form{
	display: inline-block;
}
.lang-img{
	height: 30px;
}
.lang-btn{
	border: 0;
	background: transparent;
}
.invalid{
	border-color: #ff6666;!important;
}
.reg-error-message{
	color: #3c3c3c;
	font-size: 12px;
}
.pass-mismatch-text{
	display: none;
	color: red;
}
.popular-star{
	display: block;
	position: absolute;
	bottom: 31px;
	right: 213px;
}
.popular-star-image{
	width: 72px;
}
.popular{
	background-color: #a3c2c2;
	padding-top: 15px;
}
.popular-star-number  {
	font-weight: 600;
	position: absolute;
	top: 24px;
	left: 25px;
	font-size: 16px;
}
.book-img{
	float: left;
	width: 118px;
	margin-right: 5px;
}
.single-book-img{
	width: 250px;
}
.search{
	display: inline-block;
	float: right;
	margin-top: 11px;
	margin-right: 20px;
}
.search .title-input{
	padding: 3px 2px 3px 6px;
	width: 180px;
	color: #fff;
	border: 1px solid #c8c8c8;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 6px;
}
.search-btn{
	border: 0;
	border-radius: 10px;
	padding-top: 4px;
	padding-bottom: 5px;
	color: #000;
	background-color: #eee;
}
.enter-link{
	color: #666;
	font-weight: 700;
	text-decoration: underline;
}
.book-title{
	font-size: 22px;
	padding-bottom: 5px;
}
.pagination{
	text-align: center;
	width: 100%;
	font-weight: 700;
}
.welcome-nav{
	display: inline-block;
	margin-top: 15px;
	float: right;
	color: #fff;
}
.logout-link{
	color: #c8ccd1;
	text-decoration: underline;
}
.login-link{
	color: #f2e6ff;
	font-weight: 600;
}
.login-link:hover{
	color: #e5ccff;
}
.other-books{
	padding-top: 20px;
}
.description-area{
	resize: none;
}
.another-author{
	display: none;
}
.remAuthor{
	float: right;
	padding-top: 8px;
}
.new-author{
	margin-top: 10px;
	padding-left: 0;
	display: inline-block;
}
.new-author-input{
	display: inline-block;
	width: 80%;
}
.delete-book-from-list{
	position: absolute;
	top: 12px;
	right: 15px;
}
.navbar{
	margin-bottom: 0px;
	padding: 7px 15px;
}
.delete-comment-cross{
	position: absolute;
	top: 12px;
	right: 28px;
}
body{
	position: relative;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #373a3c;
}
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.fail-title{
	margin-top: 22px;
}
.home-back-link{
	padding-top: 50px;
	color: #6c6d6f;
	display: block;
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
}
.back-to-profile-link{
	margin-top: 10px;
	display: block;
}
.leave-comment-btn{
	float: right;
	padding: 5px 10px;
	border: 0;
	border-radius: 4px
}
.book-list{
	padding-bottom: 50px;
}
.current-page{
	color: #666;
}
.available-page{
	color:#006699;
}
.star-single-book{
	display: block;
	position: absolute;
	top: 31px;
	right: 157px;
}
.footer-text{
	color: #777;
	padding-top: 21px;
	text-align: center;
}
.genre-single-label{
	font-weight: 300;
}
.edit-profile-btn{
	padding: 10px 15px;
	border-radius: 15px;
	position: absolute;
	top: 0px;
	right: -123px;
}
.check-list{
	list-style: disc!important;
	padding-left: 20px;
}
.recom-text{
	font-size: 21px;
}
.author-img{
	padding-top: 22px;
	width: 150px;
}
.add-author-btn{
	padding: 10px 40px;
}
.genre-help-text{
	height: 30px;
}
.edit-profile{
	position: relative;
	left: 0;
}

.new-author .form-control{
	width: 93%;
	float: left;
}
.authors-statistics-link{
	text-decoration: underline;
}
.left-padding{
	padding-left: 16px;
}
.left-image{
	float: left;
}
.search-title{
	position: absolute;
	top: 2px;
	right: 355px;
	color: #fff;
}
.banned-comments{
	color: #ff8080;
}